*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    height: 600px;
    width: 1000px;
    background-color: azure;
    display: flex;

}

#leftbox{
    background-color: #8BC6EC;
    width:  500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5em;
    padding: 80px;

}

#rightbox img{
    height: 600px;
    width: 500px;
}

.last{
    display: flex;
    gap: 70px;
    justify-content: space-evenly;
    font-size: x-large;

}

.headone h1{
    width:500px; 
    display : flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    

}

#para{
    display: flex;
    text-align: center;
    font-size: larger;
}