.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}
